body {
    margin-top: 60px;
  }

  .ok {
        color: green;
    }
  .no {
        color: red;
    }

span.required:after {
    content: "*";
    color: red;
  }
  .form-control{
    margin: 20px;
  }

